
	#hero{
		width:		350px;
		height:		250px;
		display:	block;
		position:	relative;
		margin:		auto;
		background:	white;
	}
	
	#slider{
		width:		350px;
		height:		250px;
		display:	block;
		position:	absolute;		
		overflow:	hidden;
		background:	white;
	}	
	
	#left{
		height:		150px;
		width:		150px;
		left:		8px;
		top:		8px;
		position:	absolute;
	}
	
	#right{
		height:		150px;
		width:		150px;
		right:		8px;
		top:		8px;
		position:	absolute;
	}
	
	.leftarrow{
		height:		50px;
		width:		50px;
		position:	absolute;
		top:		40%;
		left:		6px;
	}
	
	.rightarrow{
		height:		50px;
		width:		50px;
		position:	absolute;
		top:		40%;
		right:		6px;
	}
	
	.info{
		width:		960px;
		height:		80px;
		display:	block;
		position:	relative;
		bottom:		100px;
		background:	rgba(102,204,204,.8);
		z-index:	99;
	}
	
	.info h2{
	font-family:	sons-serif;
	font-size:		20px;
	font-weight:	bold;
	color:			#FFF;
	padding: 		15px 0 0 20px;
	}
	
	.info p{	
		font-family:	sons-serif;
		font-size:		15px;
		font-weight:	lighter;
		color:			#FFF;
		padding: 		0 0 0 20px;
		line-geight:	1px;
	}
	
	#play{
		width:			40px;
		height:			40px;
		line-height:	40px;
		text-align:		center;
		display:		block;
		position:		absolute;
		top:			0;
		right:			44px;
		background:		rgba(102,204,0,.20);
		color:			#FFF;
		cursor:			pointer;
		z-index:		999;
		transform:		rotate(90deg);
		-webkit-transform:		rotate(90deg);
	}
	
	#pause{
		width:			40px;
		height:			40px;
		line-height:	40px;
		text-align:		center;
		display:		block;
		position:		absolute;
		top:			0;
		right:			88px;
		background:		rgba(102,204,0,.20);
		color:			#FFF;
		cursor:			pointer;
		z-index:		999;
		transform:		rotate(90deg);
		-webkit-transform:		rotate(90deg);
	}
	
	#next{
		width:			40px;
		height:			40px;
		line-height:	40px;
		text-align:		center;
		display:		block;
		position:		absolute;
		top:			0;
		right:			0;
		background:		rgba(102,204,0,.20);
		color:			#FFF;
		cursor:			pointer;
		z-index:		999;
	}	
	#prev{
		width:			40px;
		height:			40px;
		line-height:	40px;
		text-align:		center;
		display:		block;
		position:		absolute;
		top:			0;
		right:			133px;
		background:		rgba(102,204,0,.20);
		color:			#FFF;
		cursor:			pointer;
		z-index:		999;
	}
	
	#pager{
		width:			100%;
		text-align:		center;
		display:		block;
		position:		absolute;
		cursor:			pointer;
		z-index:		999;
		
	}
	
	#pager a {
		font-size:		.0em;
		color:			transparent;
		width:			10px;
		height:			10px;
		display:		inline-block;
		position:		relative;
		border:			1px solid #FFF;
		border-radius:	20px;
		background:		transparent;
		margin:			10px;
		
		
	}
	#pagera.activeSlide{
		background:		#FFF;
			
	}
	
